

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Welcome Page</title>
    <link rel="stylesheet" type="text/css" href="/css/welcome.css">
</head>
<body>
<h1>Welcome to Models Dashboard-v1!</h1>
<!--<pre class="welcomeMessage" th:text="${welcomeMessage}"></pre>-->
<!--<pre class="milestoneMessage milestone_status_completed" th:text="${milestone_0_details}"></pre>-->
<!--<pre class="milestoneMessage" th:text="${milestone_1_details}"></pre>-->
<a href="/models/questions">Questions Dashboard </a>
</body>
</html>
