<div class="container">
    
    <div class="row">
        <div class="col-sm-16">
            <div class="row" style="text-align: center;">
                <a href="#/">home</a>
            </div>
        </div>
        <div class="col-sm-16">
            <div class="row">
                <!-- <div class="col-sm-8"> -->
                    <a href="{{chapterObj.previousChapterUrl}}" class="pull-left">Previous Chapter</a>
                <!-- </div> -->

                <!-- <div class="col-sm-8"> -->
                    <a href="{{chapterObj.nextChapterUrl}}" class="pull-right">Next Chapter</a>
                <!-- </div> -->
            </div>
        </div>

        <div class="col-sm-16">
            <span>{{chapterObj.chapterTitleForChapterPage}}</span>
        </div>
        
        <div class="col-sm-16">
            <span>{{chapterObj.chapterSubTitleForChapterPage}}</span>
        </div>
        <div class="col-sm-16">
            <div ng-repeat="desc in chapterObj.description">{{desc}}</div>
        </div>
        <div ng-repeat="verse in chapterObj.verses" class="col-sm-16">
            <div class="panel-heading">
                <a href="{{verse.currentVerseUrl}}">
                    <b>{{verse.verseHeader}}</b>
                </a>
            </div>
            <div class="panel-body">{{verse.oneLiner}}</div>
        </div>
    </div>
</div>