<div class="container">

    <div class="row">
        <div class="col-sm-16 headingBg">
            <div class="row">
            <span>{{verseObj.verseHeader}} : </span>
                <!-- <span>{{chapterObj.chapterTitleForChapterPage}}</span> -->
                ( <span style="font-size: smaller;">{{chapterObj.chapterSubTitleForChapterPage}}</span> )
            </div>
            <!-- <div class="row">
                <span>{{verseObj.verseHeader}}</span>
            </div> -->

            <div class="row" style="text-align: center;font-size: smaller;color: #f1f5f0;">
                <a href="#/"><b>HOME</b></a>
            </div>
            <div class="row" style="font-size: smaller;color: #f1f5f0;">
                <div class="col-sm-6">
                    <a href="{{chapterObj.previousChapterUrl}}" class="pull-left"><b>Previous Chapter</b></a>
                </div>
                <div class="col-sm-2"></div>
                <div class="col-sm-6">
                    <a href="{{chapterObj.nextChapterUrl}}" class="pull-right"><b>Next Chapter</b></a>
                </div>
            </div>
            <div class="row" style="font-size: smaller;">
                <div class="col-sm-6">
                    <a href="{{verseObj.previousVerseUrl}}" class="pull-left"><b>Previous</b></a>
                </div>
                <div class="col-sm-2"></div>
                <div class="col-sm-6">
                    <a href="{{verseObj.nextVerseUrl}}" class="pull-right"><b>Next</b></a>
                </div>
            </div>
        </div>

        <!-- <div class="col-sm-16">
            <span>{{verseObj.verseHeader}}</span>
        </div> -->
        <!-- <div class="col-sm-16">
            <span>{{verseObj.oneLiner}}</span>
        </div> -->
        <br>
        <div class="col-sm-8">
            <div style="font-size:16px; font-style: italic; font-weight: bold;text-align: center;"
                ng-repeat="shlokData in verseObj.shlok">
                {{shlokData.value}}</div>
        <!-- </div>

        <div class="col-sm-16"> -->
            <div style="font-size:16px; font-style: italic; font-weight: bold;text-align: center;"
                ng-repeat="shlokEngData in verseObj.shlokEng">
                {{shlokEngData.value}}</div>
        </div>

        <div class="col-sm-8">
            <!-- autoplay loop -->
            <div style="font-size:16px; font-style: italic; font-weight: bold;text-align: center;">
                <audio loop="{{loopCurrentSong}}" controls controlslist="nodownload" src="{{verseObj.shlokPath}}">
                    Your browser does not support the HTML5 Audio element.
                </audio>
            </div>
            <div ng-init="loopCurrentSong=false;" style="font-size:16px; font-style: italic; font-weight: bold;text-align: center;">
                <div ng-click="loopCurrentSong=!loopCurrentSong;">
                    {{verseObj.shlokPath}}
                    <span ng-if="loopCurrentSong">loop on</span>
                    <span ng-if="!loopCurrentSong">loop off</span>
                </div>
            </div>

        </div>

        <div class="col-sm-16">
            <div ng-if="verseObj.meaning.length>0">
                <br> <span><b>Meaning : </b></span> <br>
            </div>
            <div style="font-size:14px; font-style: italic;display: inline;"
                ng-repeat="meaningData in verseObj.meaning">
                <a href="{{meaningData.wordMeaningDetailUrl}}">{{meaningData.sanskrit}}</a> --
                <span>{{meaningData.meaning}} , </span>
            </div>
        </div>

        <div class="col-sm-16">
            <div ng-if="verseObj.translation.length>0">
                <br> <span><b>Translation : </b></span> <br>
            </div>
            <div style="font-size:14px; font-style: italic;display: inline;"
                ng-repeat="translationData in verseObj.translation">
                <span style="color: chartreuse; font-weight: bold;">{{translationData.header}}</span> --
                <span>{{translationData.value}}</span>
            </div>
        </div>

        <div class="col-sm-16">
            <div ng-if="verseObj.commentary.length>0">
                <br> <span><b>Commentary : </b></span> <br>
            </div>
            <div style="font-style: italic; font-weight: normal;" ng-repeat="commentaryData in verseObj.commentary">
                <br>
                <div ng-if="!commentaryData.isShlokCommentary">{{commentaryData.value}}</div>
                <div ng-if="commentaryData.isShlokCommentary" style="text-align: center;font-weight: bolder;">
                    {{commentaryData.value}}
                </div>
            </div>
        </div>


    </div>
</div>