<div class="container">
    <h2>Home Page</h2>
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-12 px-0">
            <img src="data/images/ShriRamCharitManas2.jpg" class="img-responsive" alt="Responsive image"></img>
        </div>
        <div class="col-sm-2"></div>
    </div>
    <div class="row">
        <div class="col-sm-16">
            <a href="#/vivran"><b>Vivran</b></a>
            <br>
            <a href="#/goswami-tulsidas"><b>Goswami Tulsidas</b></a>
        </div>

        <div class="col-sm-16">
            श्री रामचरितमानस अवधी भाषा में गोस्वामी तुलसीदास द्वारा १६वीं सदी में रचित एक इतिहास की घटना है। इस ग्रन्थ
            को अवधी साहित्य (हिंदी साहित्य) की एक महान कृति माना जाता है। इसे सामान्यतः 'तुलसी रामायण' या 'तुलसीकृत
            रामायण' भी कहा जाता है। रामचरितमानस भारतीय संस्कृति में एक विशेष स्थान रखता है। रामचरितमानस की लोकप्रियता
            अद्वितीय है। उत्तर भारत में 'रामायण' के रूप में बहुत से लोगों द्वारा प्रतिदिन पढ़ा जाता है। शरद नवरात्रि में
            इसके सुन्दर काण्ड का पाठ पूरे नौ दिन किया जाता है। रामायण मण्डलों द्वारा मंगलवार और शनिवार को इसके
            सुन्दरकाण्ड का पाठ किया जाता है।
            <br>
            श्री रामचरित मानस के नायक श्रीराम हैं जिनको एक मर्यादा पुरोषोत्तम के रूप में दर्शाया गया है जोकि अखिल
            ब्रह्माण्ड के स्वामी श्रीहरि नारायण भगवान के अवतार है जबकि महर्षि वाल्मीकि कृत रामायण में श्री राम को एक
            आदर्श चरित्र मानव के रूप में दिखाया गया है। जो सम्पूर्ण मानव समाज ये सिखाता है जीवन को किस प्रकार जिया जाय
            भले ही उसमे कितने भी विघ्न हों तुलसी के प्रभु राम सर्वशक्तिमान होते हुए भी मर्यादा पुरुषोत्तम हैं। गोस्वामी
            जी ने रामचरित का अनुपम शैली में दोहों, चौपाइयों, सोरठों तथा छंद का आश्रय लेकर वर्णन किया है।
            <br><br>

            श्रीरामचरितमानस १५वीं शताब्दी के कवि गोस्वामी तुलसीदास द्वारा लिखा गया महाकाव्य है, जैसा कि स्वयं गोस्वामी
            जी ने रामचरित मानस के बालकाण्ड में लिखा है कि उन्होंने रामचरित मानस की रचना का आरम्भ अयोध्या में विक्रम संवत
            १६३१ (१५७४ ईस्वी) को रामनवमी के दिन (मंगलवार) किया था। गीताप्रेस गोरखपुर के संपादक श्री हनुमान प्रसाद
            पोद्दार के अनुसार रामचरितमानस को लिखने में गोस्वामी तुलसीदास जी को २ वर्ष ७ माह २६ दिन का समय लगा था और
            उन्होंने इसे संवत् १६३३ (१५७६ ईस्वी) के मार्गशीर्ष शुक्लपक्ष में राम विवाह के दिन पूर्ण किया था। इस महाकाव्य
            की भाषा अवधी है।

            रामचरितमानस में गोस्वामी जी ने श्री रामचन्द्र के निर्मल एवं विशद चरित्र का वर्णन किया है। महर्षि वाल्मीकि
            द्वारा रचित संस्कृत रामायण को रामचरितमानस का आधार माना जाता है। यद्यपि रामायण और श्रीरामचरितमानस दोनों में
            ही राम के चरित्र का वर्णन है परंतु दोनों ही महाकाव्यों के रचने वाले कवियों की वर्णन शैली में उल्लेखनीय अन्तर
            है। जहाँ वाल्मीकि ने रामायण में राम को केवल एक सांसारिक व्यक्ति के रूप में दर्शाया है वहीं गोस्वामी जी ने
            रामचरितमानस में राम को भगवान विष्णु का अवतार माना है।

            श्रीरामचरितमानस को गोस्वामी जी ने सात काण्डों में विभक्त किया है। इन सात काण्डों के नाम हैं - बालकाण्ड,
            अयोध्याकाण्ड, अरण्यकाण्ड, किष्किन्धाकाण्ड, सुन्दरकाण्ड, लंकाकाण्ड (युद्धकाण्ड) और उत्तरकाण्ड। छन्दों की
            संख्या के अनुसार बालकाण्ड और किष्किन्धाकाण्ड क्रमशः सबसे बड़े और छोटे काण्ड हैं। तुलसीदास जी ने रामचरितमानस
            में अवधी के अलंकारों का बहुत सुन्दर प्रयोग किया है विशेषकर अनुप्रास अलंकार का। रामचरितमानस में प्रत्येक
            हिंदू की अनन्य आस्था है और इसे हिन्दुओं का पवित्र ग्रन्थ माना जाता है।
            <br>
        </div>
    </div>

</div>
<!-- /. container -->