<div class="container">
    <div class="col-sm-16 headingBg">
        <div class="row">
            <span>Vivran</span>
        </div>
        <div class="row" style="text-align: center;font-size: smaller;color: #f1f5f0;">
            <a href="#/"><b>HOME</b></a>
        </div>
    </div>

    <div class="col-sm-16 panel panel-default">
        <div class="panel-heading">
            <div>
                <span style="color: #fa160e;">
                    <b>
                        रामचरितमानस (तुलसीकृत रामायण) में कितनी चौपाई दोहे छंद है:
                    </b>
                </span>
            </div>
        </div>
        <div class="panel-body">
            श्री रामचरितमानस भगवान श्रीराम का वाङ्गमय विग्रह ही है। गोस्वामी तुलसीदास जी की सिद्ध शब्द साधना ने इसके प्रत्येक शब्द को मंत्रात्मक सामर्थ्य प्रदान किया है। उन्होंने स्वयं ही मानस में लिखा कि अर्थहीन और अनमिल होते हुए भी ‘महेश के प्रताप’ से अनेक शब्द ‘साबर मंत्र’ हो जाते हैं। अतः इस ‘महेश मानस’ की रचना में ऐसी शक्ति न होगी तो अन्यत्र कहाँ होगी?
            <br>
            मानस में केवल पाँच छन्द हैं जो प्रत्येक काण्ड में हैं – <b>चौपाई, दोहा, हरिगीतिका, सोरठा और शार्दूलविक्रीडित</b>
            <br>
            आइये जानते हैं रामचरितमानस (तुलसीकृत रामायण) में कुल कितनी चौपाई, दोहे, श्लोक, सोरठा, अन्य छंद है;
        </div>
    </div>
    <!-- /. panel end -->

    <div class="col-sm-16 panel panel-default">
        <div class="panel-heading">
            <div>
                <span style="color: #fa160e;">
                    <b>
                        रामचरितमानस (तुलसीकृत रामायण) में कुल कितने पद है:
                    </b>
                </span>
            </div>
        </div>
        <div class="panel-body">
            रामचरितमानस (तुलसीकृत रामायण) में कुल 10902 पद है।
        </div>
    </div>
    <!-- /. panel end -->

    <div class="col-sm-16 panel panel-default">
        <div class="panel-heading">
            <div>
                <span style="color: #fa160e;">
                    <b>
                        रामचरितमानस (तुलसीकृत रामायण) में कितनी चौपाई है:
                    </b>
                </span>
            </div>
        </div>
        <div class="panel-body">
            रामचरितमानस (तुलसीकृत रामायण) में 9388 चौपाई है।
        </div>
    </div>
    <!-- /. panel end -->

    <div class="col-sm-16 panel panel-default">
        <div class="panel-heading">
            <div>
                <span style="color: #fa160e;">
                    <b>
                        रामचरितमानस (तुलसीकृत रामायण) में कितने दोहे है:
                    </b>
                </span>
            </div>
        </div>
        <div class="panel-body">
            रामचरितमानस (तुलसीकृत रामायण) में 1172 दोहा है। जिनमें
            <ul>
                <li><span>बालकाण्ड में 359,</span></li>
                <li><span>अयोध्याकाण्ड में 314,</span></li>
                <li><span>अरण्यकाण्ड में 51,</span></li>
                <li><span>किष्किन्धाकाण्ड में 31,</span></li>
                <li><span>सुन्दरकाण्ड में 62,</span></li>
                <li><span>युद्धकाण्ड में 148 और</span></li>
                <li><span>उत्तरकाण्ड में 207 दोहे सम्मिलित हैं।</span></li>
            </ul>            
        </div>
    </div>
    <!-- /. panel end -->

    <div class="col-sm-16 panel panel-default">
        <div class="panel-heading">
            <div>
                <span style="color: #fa160e;">
                    <b>
                        रामचरितमानस (तुलसीकृत रामायण) में कितने सोरठा है:
                    </b>
                </span>
            </div>
        </div>
        <div class="panel-body">
            रामचरितमानस (तुलसीकृत रामायण) में 87 सोरठा है।
        </div>
    </div>
    <!-- /. panel end -->

    <div class="col-sm-16 panel panel-default">
        <div class="panel-heading">
            <div>
                <span style="color: #fa160e;">
                    <b>
                        रामचरितमानस (तुलसीकृत रामायण) में कितने श्लोक है:
                    </b>
                </span>
            </div>
        </div>
        <div class="panel-body">
            रामचरितमानस (तुलसीकृत रामायण) में कुल 47 श्लोक है। इन श्लोकों में अनुष्टुप्, शार्दूलविक्रीडित, वसन्ततिलका,
            वंशस्थ, उपजाति, प्रमाणिका, मालिनी, स्रग्धरा, रथोद्धता, भुजङ्गप्रयात, तोटक शामिल हैं।
        </div>
    </div>
    <!-- /. panel end -->

    <div class="col-sm-16 panel panel-default">
        <div class="panel-heading">
            <div>
                <span style="color: #fa160e;">
                    <b>
                        रामचरितमानस (तुलसीकृत रामायण) में कितने छन्द है:
                    </b>
                </span>
            </div>
        </div>
        <div class="panel-body">
            रामचरितमानस (तुलसीकृत रामायण) में हरिगीतिका, चौपैया, त्रिभङ्गी, तोमर छंदों की संख्या – 208
            <br>
            हरिगीतिकाओं की सङ्ख्या 139 है –
            <br>
            <ol>
                <li>
                    <span>
                        बालकाण्ड में 47,
                    </span>
                </li>

                <li>
                    <span>

                        अयोध्याकाण्ड में 13,
                    </span>
                </li>

                <li>
                    <span>

                        अरण्यकाण्ड में 14,
                    </span>
                </li>

                <li>
                    <span>

                        किष्किन्धाकाण्ड में 3,
                    </span>
                </li>

                <li>
                    <span>

                        सुन्दरकाण्ड में 6,
                    </span>
                </li>

                <li>
                    <span>
                        युद्धकाण्ड में 38 और
                    </span>
                </li>

                <li>
                    <span>
                        उत्तरकाण्ड में 18
                    </span>
                </li>
            </ol>
            <br><br>
            रामचरितमानस (तुलसीकृत रामायण) में तीन स्थानों पर आठ-आठ (कुल 24) तोमर छन्दों का प्रयोग है।
            <br>
            रामचरितमानस (तुलसीकृत रामायण) में 31 तोटक छन्द हैं
        </div>
    </div>
    <!-- /. panel end -->

</div>