

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Welcome Page</title>
    <link rel="stylesheet" type="text/css" href="/css/welcome.css">
</head>
<body>
<h1>Welcome to Questions Dashboard-V1!</h1>
<a href="/questions/v1">Questions v1 </a> <br/>
<a href="/questions/v2">Questions v2 </a> <br/>
<a href="/questions/v3">Questions v3 </a> <br/>
<a href="/questions/v4">Questions v4 </a> <br/>
<a href="/questions/v5">Questions v5 </a> <br/>
<a href="/models/questions/page/v1">Questions page v1 (rendering data in a model) </a> <br/>
<a href="/models/questions/page/v2">Questions page v2 (rendering data in a model) </a> <br/>
<a href="/questions/v6">Questions v6 </a> <br/>
<a href="/models/questions/page/v3">Questions page v3 (rendering Analysis data in a model) </a> <br/>

</body>
</html>
