<?xml version="1.0" encoding="UTF-8"?>

<!-- The web.xml, also known as the deployment descriptor, defines a Java Servlet web application. 
		 This document is a mandatory element of any web application and must reside within WEB-INF.  The 
		 deployment descriptor defines all the servlets and servlet filters that belong to this web
		 application. -->

<web-app version="3.0" 
xmlns="http://java.sun.com/xml/ns/j2ee" 
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_3_0.xsd">

    <welcome-file-list>
        <welcome-file>home.html</welcome-file>
    </welcome-file-list>
 
	<jsp-config>
	  <taglib>
		<taglib-uri>http://journaldev.com/jsp/tlds/mytags</taglib-uri>
		<taglib-location>/WEB-INF/numberformatter.tld</taglib-location>
	  </taglib>
	</jsp-config>
 
</web-app>
