<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
<!--    <link rel="stylesheet" type="text/css" href="/css/header.css">-->
    <link rel="stylesheet" th:href="@{/css/header.css}">
</head>
<body>
<header>
    <h1>My Application</h1>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/models/v1">ModelsV1</a></li>
<!--            <li><a href="/contact">Contact</a></li>-->
        </ul>
    </nav>
</header>
</body>
</html>
